.social-publish__container {
  > .images {
    display: flex;
    flex-wrap: wrap;
    padding: 0.23rem;
    img {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0.1rem;
    }

    .upload {
      background-image: url('../../assets/image/publish.png');
      background-position: center;
      margin-left: 0.23rem;
      border: 1px solid #ebebeb;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0.1rem;
    }
  }
  > .content {
    padding: 0 0.23rem;
    display: flex;
    flex-direction: column;
    .title-input {
      padding: 0.14rem 0;
      outline: none;
      border: none;
      font-size: 0.16rem;
      font-weight: bold;
      border-bottom: 1px Solid #f1f1f1;
    }
    .article-input {
      outline: none;
      border: none;
      font-size: 0.14rem;
      margin-top: 0.1rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px Solid #f1f1f1;
    }
  }
  > .publish__container {
    display: flex;
    margin-top: 1.9rem;
    justify-content: space-between;
    padding: 0 0.23rem;
    .save__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.13rem;
      .icon {
        font-size: 0.3rem;
        font-family: 'iconfont';
      }
    }
    .publish {
      font-size: 0.2rem;
      width: 2.39rem;
      height: 0.43rem;
      background-color: #ff2444;
      border-radius: 0.2rem;
      color: #fff;
      text-align: center;
      line-height: 0.43rem;
    }
  }
}